First, import any dependencies

In [134]:
import pandas as pd
import helperFunctions
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import math

Next, grab the data we're working with. We'll be using both the Boston and Seattle listing data that Airbnb provided.

In [135]:
dfBL = pd.read_csv('../data/boston/listings.csv')
dfSL = pd.read_csv('../data/seattle/listings.csv')

We want to compare and contrast our models, so we want to run them on similar parameters. The Boston data actually has a few more columns than the Seattle data, so we'll remove them. Seattle doesn't have any columns that Boston doesn't.

In [136]:
BL = set(dfBL.columns)
SL = set(dfSL.columns)
print(f"Boston only cols: {BL.difference(SL)}")
print(f"Seattle only cols: {SL.difference(BL)}")
dfBL.drop(BL.difference(SL),axis=1,inplace=True)

Boston only cols: {'access', 'interaction', 'house_rules'}
Seattle only cols: set()

We also want to focus our analysis on short term rentals, so we'll remove any rentals that require more than a week of renting.

In [137]:
dfBL.drop(dfBL[dfBL['minimum_nights'] > 7].index,inplace=True)
dfSL.drop(dfSL[dfSL['minimum_nights'] > 7].index,inplace=True)

These columns are either meaningless (i.e. - id, urls that are always present), about the dataset (scraping, url), can't be trusted to be accurate (latitude/longitude), redudant to other data (a significant amount of the location ones), beyond the scope of what we're trying to do here (anything that would require image processing or NLP), or is subtlely just actually the price. We want to predict the price from the house, not from the price!

In [138]:
drop_list = ['id','last_scraped', 'listing_url', 'scrape_id','thumbnail_url',
               'medium_url', 'host_id', 'host_url','host_name','city',
               'state','market','country', 'latitude', 'longitude',
               'calendar_last_scraped','is_location_exact','smart_location',
               'requires_license','license','picture_url','square_feet',
               'monthly_price','weekly_price','jurisdiction_names',
               'neighbourhood_group_cleansed','experiences_offered',
               'calendar_updated','country_code','calendar_updated',
               'host_thumbnail_url','host_picture_url','has_availability',
               'host_location','description','name','street','neighbourhood',
               'host_neighbourhood','neighbourhood_cleansed','host_listings_count',
               'host_has_profile_pic']

These columns have some sort of enumeration to them

In [139]:
dummy_cols = ['cancellation_policy','bed_type','room_type',
                 'property_type','host_response_time','zipcode']
listed_enum_cols = ['amenities','host_verifications']

Various cleaning. Some cells lack data, which is implictly zero (if there's no cost for having extra people, that cost is $0.00).  Some columns we want to remove the data that's incomplete, some we only care if there's data or there's not data, and some we need to convert booleans.

In [140]:
is_null_cols = ['xl_picture_url','transit', 'host_about',
                  'notes','neighborhood_overview','space','summary']
immute_zero_cols = ['security_deposit','cleaning_fee','extra_people','reviews_per_month']
remove_nan_cols = ['bathrooms','bedrooms','beds','host_identity_verified',
                  'host_total_listings_count','host_is_superhost',
                  'host_since_month','host_since_day','host_since_year',
                  'first_review_day','first_review_month','first_review_year',
                  'last_review_day','last_review_month','last_review_year',
                  'review_scores_rating','review_scores_accuracy',
                  'review_scores_cleanliness','review_scores_checkin',
                  'review_scores_communication','review_scores_location',
                  'review_scores_value','host_acceptance_rate','host_response_rate']
bool_cols = ['host_is_superhost','host_identity_verified',
                'instant_bookable','require_guest_profile_picture','require_guest_phone_verification']

The following function cleans the data and returns a linear model, the training data, test data, and r2 scores.

In [141]:
def createLM(df_in):
    df = df_in.copy(deep=True)
    df.drop(drop_list,axis=1,inplace=True)
    helperFunctions.convert_date_to_numeric(df)
    helperFunctions.convert_dollars_to_numeric(df)
    helperFunctions.convert_percent_to_numeric(df)
    for col in immute_zero_cols:
        df[col].fillna(0,inplace=True)
    for col in remove_nan_cols:
        df.dropna(subset=[col],inplace=True)
    for col in bool_cols:
        helperFunctions.convert_column_to_bool(df, col)
    #Create dummy columns
    for col in dummy_cols:
        df = pd.get_dummies(df, columns=[col], drop_first=True, dummy_na=True)
    for cat in listed_enum_cols:
        df = helperFunctions.complex_category_to_dummy(df, cat)
        df.drop(cat,axis=1,inplace=True)
    for col in is_null_cols:
        df[f"{col}_null"] = df[col].isnull()
        df.drop([col],axis=1,inplace=True)
    y = df['price']
    X = df.drop(['price'],axis=1)
    x_cols = X.columns
    #Remove columns that have no variance. These don't contribute to the model and can lead to some weird behavior
    for col in x_cols:
        if len(X[col].unique())<2:
            X.drop([col],axis=1,inplace=True)
    cutoffs = [math.floor(y.count()*.01),math.floor(y.count()*.005),math.floor(y.count()*.001),math.floor(y.count()*.0)]
    r2_scores_test, r2_scores_train, lm_model, X_train, X_test, y_train, y_test,x_reduce = helperFunctions.find_optimal_lm_mod(X, y, cutoffs)
    return (r2_scores_test, r2_scores_train, lm_model, X_train, X_test, y_train, y_test,x_reduce)

In [142]:
r2_scores_test_bl, r2_scores_train_bl, lm_model_bl, X_train_bl, X_test_bl, y_train_bl, y_test_bl,reduce_X_bl = createLM(dfBL)
r2_scores_test_sl, r2_scores_train_sl, lm_model_sl, X_train_sl, X_test_sl, y_train_sl, y_test_sl,reduce_X_sl = createLM(dfSL)

Let's take a look at how well our models did:

In [143]:
print(f"Boston R2 test vs train: {r2_scores_test_bl}, {r2_scores_train_bl}")
print(f"Seattle R2 test vs train: {r2_scores_test_sl}, {r2_scores_train_sl}")

Boston R2 test vs train: [0.6349833781420947, 0.635982362771986, 0.6358978520966455, 0.6347296921455431], [0.723807823724205, 0.7312698042475881, 0.7340356513386115, 0.7385646381491877]
Seattle R2 test vs train: [0.6273222533072657, 0.6270211145583205, 0.6230887788938095, 0.6202375707548984], [0.6835071895670175, 0.6844648691666639, 0.6874644567834103, 0.7027465492440889]

Finally, we can inspect some our model. We're interested in what the biggest impact factors for both cities are, so we can compare and contrast. We'll also look at which factor had the biggest positive impact.

It's worth noting that are model for Seattle appears to be taking the location and using that to negatively impact the price. This doesn't mean that every location is bad for your price - just relative to the "base location", which happened to be the column removed from the set when creating the dummy variables. It does mean it won't appear in our "most positive" impact coefficient. A good example at why looking at the absolute coefficient and just determining the magnitude of impact a feature has on the variance of the model can be more valuable than looking at the raw coefficient.

In [144]:
df_coef_bl = helperFunctions.coef_weights(lm_model_bl, reduce_X_bl)
df_coef_bl.head(30)

                                 est_int          coefs      abs_coefs
76                         zipcode_02132 -404140.370819  404140.370819
70                         zipcode_02126 -396003.362253  396003.362253
67                         zipcode_02122 -393785.407382  393785.407382
75                         zipcode_02131 -370350.231683  370350.231683
79                         zipcode_02136 -329700.591650  329700.591650
68                         zipcode_02124 -305468.748043  305468.748043
69                         zipcode_02125 -287561.296508  287561.296508
48                 room_type_Shared room -282568.461292  282568.461292
66                         zipcode_02121 -282180.871945  282180.871945
74                         zipcode_02130 -256089.652901  256089.652901
78                         zipcode_02135 -251840.583319  251840.583319
77                         zipcode_02134 -246414.397054  246414.397054
47                room_type_Private room -224388.442601  224388.442601
72                         zipcode_02128 -220926.160758  220926.160758
65                         zipcode_02120 -208892.489995  208892.489995
71                         zipcode_02127 -194214.212613  194214.212613
133                              'phone'  193734.839475  193734.839475
64                         zipcode_02119 -184343.946081  184343.946081
43   cancellation_policy_super_strict_30  175916.686032  175916.686032
13                              bedrooms  160579.779673  160579.779673
82                           zipcode_nan -139160.205844  139160.205844
12                             bathrooms  112471.382101  112471.382101
37         require_guest_profile_picture -107836.649374  107836.649374
59                         zipcode_02113 -100640.302852  100640.302852
106                                 Pool  -75464.750250   75464.750250
61                         zipcode_02115  -74990.987742   74990.987742
126                              'email'   71374.404353   71374.404353
38      require_guest_phone_verification   67640.552900   67640.552900
88                    "Indoor Fireplace"   65921.645221   65921.645221
104                                  Gym  -61991.923555   61991.923555

In [145]:
df_coef_sl = helperFunctions.coef_weights(lm_model_sl, reduce_X_sl)
df_coef_sl.head(30)

                               est_int          coefs      abs_coefs
47               room_type_Shared room -258984.857106  258984.857106
73                       zipcode_98133 -206378.370716  206378.370716
59                       zipcode_98106 -166657.119769  166657.119769
67                       zipcode_98118 -161819.342660  161819.342660
119                            'email' -158989.664673  158989.664673
61                       zipcode_98108 -138426.448840  138426.448840
65                       zipcode_98116 -126152.322133  126152.322133
58                       zipcode_98105 -126051.253997  126051.253997
85                 "Wireless Internet"  126046.040695  126046.040695
64                       zipcode_98115 -122273.870944  122273.870944
72                       zipcode_98126 -120650.063416  120650.063416
46              room_type_Private room -117586.862186  117586.862186
75                       zipcode_98144 -117506.013959  117506.013959
66                       zipcode_98117 -116708.754941  116708.754941
104                           Internet -114759.250486  114759.250486
71                       zipcode_98125 -107664.106788  107664.106788
56                       zipcode_98103  -97170.773795   97170.773795
74                       zipcode_98136  -96985.701370   96985.701370
13                            bedrooms   94080.360719   94080.360719
103                            Doorman   85772.239988   85772.239988
12                           bathrooms   84073.281561   84073.281561
76                       zipcode_98199  -83022.823401   83022.823401
54   host_response_time_within an hour  -79009.338036   79009.338036
70                       zipcode_98122  -78573.320063   78573.320063
60                       zipcode_98107  -74414.497294   74414.497294
78                   "Smoking Allowed"  -58909.260993   58909.260993
63                       zipcode_98112  -57323.221375   57323.221375
52     host_response_time_within a day  -54175.745777   54175.745777
108                             Washer  -52324.686538   52324.686538
116                              Dryer   48299.340021   48299.340021

In [146]:
df_coef_sl.loc[df_coef_sl['coefs']==df_coef_sl['coefs'].max()]

                est_int          coefs      abs_coefs
85  "Wireless Internet"  126046.040695  126046.040695

In [147]:
df_coef_bl.loc[df_coef_bl['coefs']==df_coef_bl['coefs'].max()]

     est_int          coefs      abs_coefs
133  'phone'  193734.839475  193734.839475

In [148]:
reduce_X_bl['bedrooms'].var()

0.6146425140661573